[Unit]
Description=mqttController Service
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/MySoftwareProjects/mqttController/mqttController.py
User=pi

[Install]
WantedBy=multi-user.target

